@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nevrada";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Nevrada_Neue.otf");
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sinteca";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Sinteca-Regular.otf");
}

.theme-light {
  --background-color: #F5EFEB;
  --text-color: #567CBD;
  --hover-color: #2F4156;
  --sky-color: #C8C9E6;
}

.theme-dark {
    --background-color: #0E1F3B;
    --text-color: #D3DADC ;
    --hover-color: #4D7CBF;
    --sky-color: #4D7CBF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  font-family: "Sinteca", sans-serif;
  letter-spacing: .8px;

  @media only screen and (max-width: 768px) {
    .logo {
      font-size: 18px
    }

    .banner {
      padding: 0 20px;
    }
  }

  @media only screen and (max-width: 480px) {

  .navigation li {
    display: none;
  }

  .name {
    padding-top: 5px;
  }

  .logo {
    font-size: 14px;
  }

  .banner {
    height: 270px;
    justify-content: center;
  }
  
  .banner img {
    display: none;
  }

  .footer-name {
    text-align: center;
  }
}
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--background-color);
}

section {
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 40px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  padding: 10px ;
  gap: 10px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-nav ul li {
  text-wrap: wrap;
  text-align: center;
}

.header-nav ul li a {
  color: var(--text-color);
  transition: color 0.5s ease;
}

.header-nav ul li a:hover, 
.header-nav ul li a:focus {
  color: var(--hover-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-size: 22px;
  font-family: 'Nevrada', serif;
  color: var(--text-color);
}

.name {
  margin-bottom: 0;
}

.surname {
  margin-top: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--text-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--background-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.banner {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
}

.daria-photo {
  min-width: 50%;
  max-height: 400px;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(244, 213, 141, 0.403);
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 20px;
  color: var(--text-color);
}

.hello {
  font-size: 24px;
  margin-bottom: 10px;
}

.banner-container h1 {
  font-size: 50px;
  margin: 0;
  font-family: 'Nevrada', serif;
}

.frontend {
  margin-top: 10px;
}

.banner-container button {
  background-color: var(--text-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 80%;
  /* box-shadow: 0 0 10px rgba(244, 213, 141, 0.481); */
  font-family: "Rubik", sans-serif;
  color: var(--background-color);
  font-size: 100%;
  margin-top: 10px;
  letter-spacing: 1px;
  transition: background-color 0.5s ease;
}

.banner-container button:hover,
.banner-container button:focus {
  background-color: var(--hover-color);
  
  box-shadow: 0 0 10px rgba(244, 213, 141);
}

.about-me,
.projects,
.skills,
.contacts,
.certificates {
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.section-name {
font-family: 'Nevrada', serif;
font-size: 40px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0;
}

.projects-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projects-box li img {
  width: 250px;
  min-height: 190px;
  border-radius: 10px;
  /* box-shadow: 0 0 15px rgba(244, 213, 141, 0.158); */
  transition: width 0.5s ease;
}

.projects-box li img:hover,
.projects-box li img:focus {
  width: 270px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leader {
  text-wrap: wrap;
  width: 200px;
}

.skills-box {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 10%;
}

.skills-box li {
 margin-bottom: 20px;
 background-color: var(--sky-color);
 color: var(--test-color);
 padding: 20px;
 border-radius: 50%;
 font-size: 16px;
 font-weight: 700;
 font-style: italic;
 box-shadow: 2px 2px 2px;
}

.soft-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.contacts {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--hover-color);
  color: var(--background-color);
  width: 100%;
  margin: 0;
  padding: 40px;
}


.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.contact-box li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.contact-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-link {
  color: var(--background-color);
  line-height: 2.5;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 1px;
}

.image-container img {
  height: 500px;
  cursor: pointer;
  transition: transform 0.3s;
}

.flipped {
  transform: rotateY(180deg);
}

.certificates {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cert-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.cert-item h3 {
  text-decoration: underline;
}

.cert-item p {
  text-align: center;
  width: 80%;
}